<div class="logo-bar">
  <img src="file:///mnt/data/Projects/Frameworks/bedrock/dist/assets/img/yeti.svg" alt="Yeti">
  <span>Bedrock Admin</span>
</div>

<ul class="vertical menu icons icon-left accordion-menu" data-accordion-menu data-submenu-toggle="true">
  <li>
    <a href="#"><i class="mdi mdi-gift"></i><span>Gift Center</span></a>
    <ul class="menu vertical nested">
      <li>
        <a href="#">Item 1A</a>
        <ul class="menu vertical nested">
          <li><a href="#">Item 1Ai</a></li>
          <li><a href="#">Item 1Aii</a></li>
          <li><a href="#">Item 1Aiii</a></li>
        </ul>
      </li>
      <li><a href="#">Item 1B</a></li>
      <li><a href="#">Item 1C</a></li>
    </ul>
  </li>
  <li>
    <a href="#"><i class="mdi mdi-comment-multiple-outline"></i><span>Comments</span></a>
    <ul class="menu vertical nested">
      <li><a href="#">Item 2A</a></li>
      <li><a href="#">Item 2B</a></li>
    </ul>
  </li>
  <li><a href="#"><i class="mdi mdi-bell-ring-outline"></i><span>Alarms</span></a></li>
  <li>
    <a href="#"><i class="mdi mdi-pokeball"></i><span>Pokeballs</span></a>
    <ul class="menu vertical nested">
      <li><a href="#">Item 4A</a></li>
      <li><a href="#">Item 4B</a></li>
    </ul>
  </li>
  <li><a href="#"><i class="mdi mdi-qrcode"></i><span>Products</span></a></li>
  <li><a href="#"><i class="mdi mdi-bug"></i><span>Bug Reports</span></a></li>
  <li>
    <a href="#"><i class="mdi mdi-radio-tower"></i><span>Mobile Carriers</span></a>
    <ul class="menu vertical nested">
      <li>
        <a href="#">Item 7A</a>
        <ul class="menu vertical nested">
          <li><a href="#">Item 7Ai</a></li>
          <li><a href="#">Item 7Aii</a></li>
          <li><a href="#">Item 7Aiii</a></li>
        </ul>
      </li>
      <li><a href="#">Item 7B</a></li>
      <li><a href="#">Item 7C</a></li>
    </ul>
  </li>
</ul>

<ul class="vertical menu secondary icons icon-right margin-top-2 margin-bottom-1">
  <li><a href="#"><span>Access Points</span><i class="mdi mdi-access-point"></i></a></li>
  <li><a href="#"><span>Monitoring</span><i class="mdi mdi-chemical-weapon"></i></a></li>
  <li><a href="#"><span>Notifications</span><i class="mdi mdi-alert-circle-outline"></i></a></li>
<ul>
