.top-bar
  .top-bar-left
    ul.menu
      li
        a data-toggle="sidebar"
          i.mdi.mdi-menu

  .top-bar-right
    ul.menu
      li
        a data-toggle="offcanvas"
          i.mdi.mdi-comment-processing-outline
